<header class="site-logo">
    <svg class="site-logo__ekg" viewBox="0 0 100 30" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <polyline class="site-logo__line" points="0,15 20,15 28,3 33,27 38,3 43,15 100,15" />
    </svg>

    <span class="site-logo__name">AI Pulse</span>

    <svg class="site-logo__ekg" viewBox="0 0 100 30" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <polyline class="site-logo__line site-logo__line--right" points="0,15 57,15 62,3 67,27 72,3 77,15 100,15" />
    </svg>
</header>
