<header class="site-logo">
    <svg class="site-logo__ekg" viewBox="0 0 200 40" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <polyline class="site-logo__ekg-line" points="0,20 30,20 40,20 50,5 60,35 70,5 80,20 110,20 120,20 130,10 140,30 150,20 200,20" />
    </svg>
    <span class="site-logo__name">AI Pulse</span>
</header>
